<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/bootstrap.min.css" media="screen" />
</head>
<body>
	<div class="container" style="margin-top: 50px">
		<div>
			<img src="logo.png" class="img-responsive left-block" width="100"
				height="50" alt="Logo" />
		</div>
		<h3 align="center">Please check the information in order to logout</h3>
		<h3 align="center">and then just click on the Logout/Exit button</h3>
		<br />
		<form action="#" th:action="@{/savevisitorlogout}"  method="post">
			<table>
				<tr>
					<td>Full Name:</td>
					<td height="40px"><input type="text" th:field="*{visitor.fullName}" />
						<input type="hidden" th:field="*{visit.visitor.id}" /></td>
				</tr>
				<tr>
					<td>Identity card / passport number:</td>
					<td height="40px"><input type="text"
						th:field="*{visitor.identityCardInfo}"/></td>
				</tr>
				<tr>
					<td>Deloitte employee visited:</td>
					<td height="40px"><input type="text"
						th:field="*{employee.empFullName}" /> 
						 <input type="hidden" th:field="*{visit.visitId}" />
						<input type="hidden" th:field="*{visit.employee.empId}" />
						<input type="hidden" th:field="*{visit.badgeNumber}" />
						</td>
				</tr>
			</table>
			
				<h4 align="center">The information displayed is correct? Please click Logout/Exit button</h4>
			<input class="btn btn-info btn-block" type="submit"
				value="Logout/Exit" />
				
				<br>
				
				<h4 align="center">The information displayed is NOT correct, these aren't your data? Please click Return button</h4>
			<input class="btn btn-danger btn-block btn-sm" onclick="window.location.href = '/index'" value ="Return"/>
		</form>

	</div>
</body>
</html>


