<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="css/signature-pad.css">
        <link rel="stylesheet" href="/bootstrap.min.css" />

        <script src="../js/signature_pad.js"></script>
        <script src="../js/app.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            function mydownload() {
                var filename = /*[[${fileName}]]*/ 'default';
                    if (signaturePad.isEmpty()) {
                        alert("Please provide a signature first.");
                    } else {
                        var dataURL = signaturePad.toDataURL('image/png+xml');
                        download(dataURL, "signature" + filename + ".png");
                    }
            }
            /*]]>*/
        </script>
    </head>
    <body onselectstart="return false">
        <div class="container" style="height: 410px">

            <div id="signature-pad" class="signature-pad" >
                <div class="signature-pad--body">
                    <canvas width="auto"></canvas>
                </div>
                <div class="signature-pad--footer">
                    <div class="description" style="background: grey">Sign above</div>
                    <div class="signature-pad--actions">
                    <button type="button" class="btn btn-warning btn-block"   onclick="mydownload()">Save as PNG</button>
                    </div>
                </div>
              </div>
              <form action="/index" method="get">
                    <input class="btn btn-info btn-block" type="submit" value ="Logout"/>
              </form>
          </div>
    </body>
</html>

